<f:layout name="Backend" />

<f:section name="iconButtons">
	<f:be.buttons.icon uri="{f:uri.action(action: 'index')}" icon="button_left" title="Cancel Import" />
</f:section>

<f:section name="content">
	<h4 class="uppercase"><f:translate key="LLL:EXT:importr/Resources/Private/Language/locallang.xml:importr" /></h4>

	<f:form action="preview">
		<f:form.hidden name="identifier" value="{file.storage.uid}:{file.identifier}" />

		Import file <b>{file.name}</b> with the strategy
		<f:form.select options="{strategies}" id="strategy_select" class="strategy_select" name="strategy" optionLabelField="title" />
		<f:form.submit value="Weiter" />
	</f:form>

	<f:for each="{strategies}" as="strategy">
		<div id="configuration{strategy.uid}">
			<h4 class="uppercase">{strategy.title}</h4>
			<table>
				<tr>
					<td><strong>Configuration:</strong></td>
					<td><pre>{strategy.configuration}</pre></td>
				</tr>
				<tr>
					<td><strong>Resources:</strong></td>
					<td><pre>{strategy.resources}</pre></td>
				</tr>
				<tr>
					<td><strong>Targets:</strong></td>
					<td><pre>{strategy.targets}</pre></td>
				</tr>
			</table>
		</div>
	</f:for>

</f:section>


