{namespace importr=HDNET\Importr\ViewHelpers}
<f:layout name="Backend" />

<f:section name="IconButtons">
	<a href="{f:uri.action(action:'index')}" title="Cancel Import" class="btn btn-default btn-sm">
		<core:icon identifier="actions-move-left"/>
	</a>
</f:section>

<f:section name="Content">
	<h1>
		<f:translate key="LLL:EXT:importr/Resources/Private/Language/locallang.xlf:importr" />
	</h1>

	<f:form action="create" class="form-inline">
		<f:form.hidden name="filepath" value="{filepath}" />
		<f:form.hidden name="strategy" value="{strategy}" />
		Import file <b>{filepath}</b> with the strategy <b>{strategy.title}</b>!

		<f:form.submit value="Importieren" class="btn btn-default" />
	</f:form>

	<h1>Preview</h1>

	<f:debug inline="1" title="Configuration">{preview}</f:debug>

</f:section>


